* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin: auto;
}

.shopping-step {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  font-size: 40px;
  font-weight: bold;
  color: #909090;
}

.shopping-step div {
  margin-right: 50px;
}

.shopping-step div:nth-child(3) {
  color: #F29BA5;
}

.shopping-step div:nth-child(5) {
  margin-right: 0px;
}

.recipient-information {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 0px 0px 0px;
  font-size: 40px;
  font-weight: bold;
}

.recipient-information div input {
  width: 30px;
  height: 30px;
}

.form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin: auto;
}

.recipient-descs {
  width: 50%;
  height: 150px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 150px;
  /* border: 1px solid black; */
  border-radius: 20px;
}

.recipient-descs div input {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
  margin-top: 10px;
  width: 100%;
}

.logistics {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  padding-left: 50px;
  border: 1px solid black;
  border-radius: 20px;
}

.logistics-title {
  width: 30%;
}

.logistics-descs {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logistics-descs div {
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logistics-descs div:nth-child(3) {
  margin-right: 0px;
}

.logistics-descs div input {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.credit-descs1 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 45%;
  margin-right: 50px;
}

.credit-descs2 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 23%;
  margin-right: 50px;
}

.credit-title {
  margin-right: 50px;
}

.credit-desc input {
  width: 120px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
}