.detailContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.detailPics {
  width: 40%;
  margin-top: 200px;
}

.w450 img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.w100 {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.w100 img{
  width: 22%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.w100_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  border-radius: 10px;
  background-color: #F29BA5;
  color: white;
  cursor: pointer;
}

.detail_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-top: 200px;
}

.product_name{
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: bold;
}

.desc_flex{
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

.desc_title{
  width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 36px;
  color: #F29BA5;
}

.size_desc, .quantity_desc{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
  margin-left: 50px;
}

.size_desc div , .quantity_desc div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #F29BA5;
  color: white;
  margin-right: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.size_desc div button, .quantity_desc div button, .color_desc div button {
  background-color: #F29BA5;
  color: white;
  border: none;
  font-size: 48px;
  cursor: pointer;
}

.color_desc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin-left: 50px;
}

.color_desc div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #F29BA5;
  color: white;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.price_desc{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
  margin-left: 50px;
}

.price_desc div {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 60px;
  color: #F29BA5;
  border-radius: 20px;
  font-size: 64px;
  padding-left: 30px;
}

.icon_flex{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0px 90px 0px 200px;
  font-size: 80px;
  color: #F29BA5;
}

.icon_flex i{
  cursor: pointer;
}