.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.title{
  margin:50px auto;
  text-align: center;
}
.card{
  width: 500px;
  height: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.mini_card{
  width: 630px;
  height: 130px;
  border-radius: 5px;
  margin: 10px;
}
.button{
  outline-style: none;
  border:0;
  background-color: #E4BEC6;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  margin: 10px 0px;
  color: #fff;
  font-family:'Zen Maru Gothic', serif;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.flex_center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex_spacebetween{
  display: flex;
  justify-content: space-between;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.padding30{
  padding: 30px;
}
.img{
  object-fit: fill;
  height:200px;
  width: 100%;
  margin:20px 2px;
}
.nickname{
  outline-style: none;
  border:0;
  border-bottom: #E4BEC6 1px solid;
  width: 100px;
  height: 25px;
  margin: 10px 0px;
  font-family:'Zen Maru Gothic', serif;
  padding-inline-start: 5px;
}
.icon{
  object-fit: fill;
  height:20px;
  margin:0px 2px;
}
