.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  margin:50px auto;
  text-align: center;
}
.formborder{
  height: 370px;
  width: 300px;
  border: #F29BA5 2px solid;
  border-radius: 10px;
  margin:10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  outline-style: none;
  border:0;
  border: #E4BEC6 1px solid;
  width: 250px;
  height: 25px;
  margin: 10px 0px;
  border-radius: 5px;
  padding-inline-start: 5px;
}
.button{
  outline-style: none;
  border:0;
  background-color: #E4BEC6;
  border-radius: 5px;
  width: 250px;
  height: 25px;
  margin: 10px 0px;
  color: #fff;
  font-family:'Zen Maru Gothic', serif;
  cursor: pointer;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.google_login{
  outline-style: none;
  border:0;
  background-color: #ffffff;
  border: #000000 1px solid;
  border-radius: 5px;
  width: 250px;
  height: 25px;
  margin: 10px 0px;
  font-family:'Zen Maru Gothic', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
  object-fit: fill;
  width: 20px;
  height:20px;
  margin:auto 5px;
}